@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before{
    font-size: 12px !important;
    color: #F3BE18 !important;
    line-height: 12px !important;
    width: 10px !important;
    height: 10px !important;
}
.slick-dots li{
    margin: 0px !important;
}
